# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
summary.txt

# Local env files
.env
.env.*
!.env.example
TODO.txt
notes.txt
.vscode/extensions.json
.vercel
ignored/
server/assets/
server/utils/foods.csv